<h2>New Book</h2>
<!-- <form action="/books" method="POST" enctype="multipart/form-data"> we're not submitting any file objects anymore, only string data file pond --> 
<form action="/books" method="POST">
    <%- include('_form_fields') %> 
    <a href="/books">Cancel</a>
    <button type="submit">Create</button>
</form>